# Owners

SPP Statisitcal Methods Library team

* Neil Smith
* Sanjeev Srithevan
* Steve Gibbard
* James Morgan
* Jason bell
* Kirsty Mackenzie

# deployment related files
**live-pipeline.yaml 
@ONSDigital/sml-python-small
@ONSDigital/statistical-methods-library
@ONSDigital/sml-methods-library
@ONSDigital/sml-supporting-info


