[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozen-flask = "*"
jsonnet = "*"
markdown = "*"
contentful = "*"
flask-markdown = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
