[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozen-flask = "*"
jsonnet = "*"
markdown = "*"
flake8 = "*"
pylint = "*"
bandit = "*"
axe-selenium-python = "*"

[dev-packages]
black = "*"
behave = "*"
selenium = "*"

[requires]
python_version = "3.10"
