[tool.poetry]
name = "sml-catalogue"
version = "0.1.1-rc.1"
description = "This repo contains the build environment and code to generate and upload the Statistical Methods Library (SML) Portal Web Application."
authors = []
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
frozen-flask = "*"
jsonnet = "*"
markdown = "*"

[tool.poetry.group.dev.dependencies]
black = "*"
behave = "*"
selenium = "^4.10.0"
flake8 = "*"
pylint = "*"
bandit = "*"
isort = "^5.12.0"
axe-selenium-python = "*"
python-semantic-release = "<8.0.0"

[tool.bandit]
exclude_dirs = ["tests", "features"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variable = "pyproject.toml:version"
branch = "main"
upload_to_pypi = false
build_command = "python freeze.py && mkdir dist/ && zip -r dist/build.zip build/"
prerelease_tag = "rc"
