/* Back to Top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

#topBtn.footer-visible {
  position: absolute;
  bottom: 0px
}

#topBtn svg {
  transform: rotate(-90deg);
}

/* Overriding the method table classes
to fix the table row spacing issue
we currently have with the ONS Design System  */
.ons-table__cell, .ons-table__header {
  border-bottom: 2px solid #707071;
  overflow: hidden;
  padding: 0.5rem 0 0.5rem 1rem;
  text-align: left;
  vertical-align: top;
  /* background-color: red; */
  max-width: 100px;
}

.visually-hidden:not(:focus):not(:active) { 
  /* Contain text within 1px box */
  height: 1px; 
  overflow: hidden;
  width: 1px;
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}