{% extends "sidebar.html" %}
{% from "components/lists/_macro.njk" import onsList %}
{%- set current_path = url_for("about") -%}
{%- set sidebarCols = 8 -%}
{%- block head -%} 
<!-- Google Tag Manager -->
    <script src='../../sml_builder/static/js/google_tag.js'></script>
<!-- End Google Tag Manager -->
{%- endblock head -%}
{%- block main %}
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK76MC47"
                height="0" width="0" style="display:none;visibility:hidden">
                </iframe>
            </noscript>
            <!-- End Google Tag Manager (noscript) -->
            {{ page_body }}
{%- endblock main -%}
{%- block sidebarContent -%}
    {% from "components/related-content/_macro.njk" import onsRelatedContent %}
        {{
            onsRelatedContent({
                "ariaLabel": 'Related content',
                "rows": [
                    {
                        "id": 'explore-more',
                        "title": 'Explore more',
                        "itemsList": [
                            {
                                "text": 'Help centre',
                                "url": url_for("help_centre")
                            },
                            {
                                "text": 'Glossary',
                                "url": url_for("display_glossary")
                            },
                            {
                                "text": 'Methods catalogue',
                                "url": url_for("display_methods")
                            }
                        ]
                    }
                ]

            })
        }}
{% endblock sidebarContent -%}


