<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6EG2LPCLFN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6EG2LPCLFN');
</script>
{%- extends "core.html" -%}
{%- set page_title = 'Privacy and Data Protection' -%}
{%- set mainCols=8 -%}

{%- set breadcrumbs = {
"id":"breadcrumbs",
"ariaLabel":"breadcrumbs",
"itemsList":[
  {
    "url": url_for("index"),
    "id": "home",
    "text": 'Home',
  }
]
} -%}


{%- from "components/lists/_macro.njk" import onsList -%}
{%- block main -%}
  {{ page_body }}
{% endblock main -%}
