{%- extends "core.html" -%}
{%- set page_title = 'Accessibility Statement' -%}
{%- set mainCols=8 -%}

{%- set breadcrumbs = {
"id":"breadcrumbs",
"ariaLabel":"breadcrumbs",
"itemsList":[
  {
    "url": url_for("index"),
    "id": "home",
    "text": 'Home',
  }
]
} -%}


{%- from "components/list/_macro.njk" import onsList -%}
{%- block main -%}
<div id="accessibility-statement-content">
  {% if cms_enabled %}
      {{ content.main_content | markdown }}
  {% else %}
      {{ page_body }}
  {% endif %}
<div id="main-title"> 
{% endblock main -%}
