{%- extends "core.html" -%}
{%- set page_title = 'Privacy and Data Protection' -%}
{%- set mainCols=8 -%}

{%- set breadcrumbs = {
"id":"breadcrumbs",
"ariaLabel":"breadcrumbs",
"itemsList":[
  {
    "url": url_for("index"),
    "id": "home",
    "text": 'Home',
  }
]
} -%}


{%- from "components/lists/_macro.njk" import onsList -%}
{%- block main -%}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK76MC47"
      height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ page_body }}
{% endblock main -%}
