{%- extends "sidebar.html" -%}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/lists/_macro.njk" import onsList %}
{%- set breadcrumbs = {
  "id":"breadcrumbs",
  "ariaLabel":"breadcrumbs",
  "itemsList":[
    {
      "url": url_for("api_reference"),
      "id": "back",
      "text": 'Back',
    }
  ]
} -%}

{% set sidebarCols = 7 %}
{%- set page_title = "API Reference - "~sub_category_label -%}
{%- set current_path = url_for("api_reference") -%}
{%- block mainContent -%}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  <h1>API Reference- {{sub_category_label}}</h1>
    <h2>{{category_label}}</h2>
    {% if category == "api-reference" %}
        {%- if sub_category == "date-adjustment" %}
            {% include "api-docs/api-docs/api-docs/date-adjustment/index.html" %}
        {%- elif sub_category == "selective-editing" %}
            {% include "api-docs/api-docs/api-docs/selective-edit/index.html" %}
        {%- elif sub_category == "thousand-pounds" %}
            {% include "api-docs/api-docs/api-docs/thousand-pounds/index.html" %}
        {%- elif sub_category == "totals-and-components" %}
            {% include "api-docs/api-docs/api-docs/totals-and-components/index.html" %}
        {%- endif %}
    {% elif category == "technical-documentation" %}
        {%- if sub_category == "date-adjustment" %}
            {% include "api-docs/api-docs/technical-specifications/date-adjustment/index.html" %}
        {%- elif sub_category == "selective-editing" %}
            {% include "api-docs/api-docs/technical-specifications/selective-edit/index.html" %}
        {%- elif sub_category == "thousand-pounds" %}
            {% include "api-docs/api-docs/technical-specifications/thousand-pounds/index.html" %}
        {%- elif sub_category == "totals-and-components" %}
            {% include "api-docs/api-docs/technical-specifications/totals-and-components/index.html" %}
        {%- endif %}
    {% elif category == "method-specs" %}
        {%- if sub_category == "totals-and-components" %}
            {% include "api-docs/api-docs/method-specs/totals-and-components/index.html" %}
        {%- endif %}
    {% elif body %}
      {{body}}
    {% endif %}
{%- endblock mainContent-%}
{%- block sidebar -%}
<div class="ons-grid__col ons-col-5@m ons-u-mt-l ons-u-mb-l ons-related-content ons-push-1@m">
{% block sidebarContent %}
<h2 class="ons-related-content__title ons-u-fs-r--b ons-u-mb-xs">API Navigation</h2>
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{{
    onsSectionNavigation({
        "variants": "vertical",
        "id": "section-menu",
        "currentPath": url_for("api_guidances", category=category),
        "itemsList": nav
    })
}}
{% endblock sidebarContent %}
</div>
{%- endblock sidebar -%}