{% extends "layout/_template.njk" %}
{%- if page_title -%} {%- set page_title_value = page_title + ' - Statistical Methods Library Portal' -%} {%- else -%} {%- set page_title_value = 'Statistical Methods Library Portal' -%} {%- endif -%}
{% set pageConfig = { 
    "title": page_title_value,
    "header": {
        "title": 'Statistical Methods Library Portal',
        "orgLogoHref": 'https://www.ons.gov.uk',
        "titleLogoHref": '/'
    },
    "mainCol":{
      "columns": mainCols if mainCols else 12,
      "classes": "ons-u-mt-m"
    },
    "breadcrumbs": breadcrumbs,
    "navigation": {
        "id": "main-navigation",
        "itemsList": [
        {"url": url_for("index"),
        "title": "Home"},
        {"url": url_for("display_methods"),
        "title": "Methods catalogue"},
        {"url": url_for("help_centre"),
        "title": "Help centre"},
        ],
        "currentPath": current_path
    },
    "footer": {
      "OGLLink": true,
      "legal": [
        {
          "itemsList": [
            {
              "text": 'Cookies',
              "url": url_for('cookies_page')
            },
            {
              "text": 'Accessibility statement',
              "url": '#0'
            },
            {
              "text": 'Privacy and Data Protection',
              "url": url_for('privacy_and_data_protection')
            }
          ]
        }
      ]
    },

    "asideCol":asideCol
  }
 %}

    {% block preHeader %}
        {% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
        {{
            onsCookiesBanner({
                'serviceName': 'statisticalmethodslibrary.ons.gov.uk'
            })
        }}
    {% endblock %}

  {%- block main -%}
  {%- endblock main -%}
