{% extends "layout/_template.njk" %}
<!-- Step to add Google tags -->
{% block head %}
  <!-- Google Tag Manager -->
  <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WK76MC47');
  </script>
  <!-- End Google Tag Manager -->
{% endblock %}
{% block body %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK76MC47"
      height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}
{%- if page_title -%} {%- set page_title_value = page_title + ' - Statistical Methods Library - Office for National Statistics' -%} {%- else -%} {%- set page_title_value = 'Statistical Methods Library - Office for National Statistics' -%} {%- endif -%}
{% set navigation= {
    "navigation": {
        "id": "main-navigation",
        "itemsList": [
        {"url": url_for("index"),
        "title": "Home"},
        {"url": url_for("display_methods"),
        "title": "Methods catalogue"},
        {"url": url_for("help_centre"),
        "title": "Help centre"},
        {"url": url_for("about"),
        "title": "About this library"},
        {"url": url_for("display_glossary"),
        "title": "Glossary"},
        ],
        "currentPath": current_path
        }
    }
%}
{% set pageConfig = {
    "meta": {
        "canonicalUrl": "/",
        "description": "/",
    },

    "title": page_title_value,
    "header": {
        "title": 'Statistical Methods Library',
        "orgLogoHref": 'https://www.ons.gov.uk',
        "titleLogoHref": "/",
        "mastheadLogo": "/",
        "titleLogo": "/",
        "navigation": navigation.navigation,
    },
    "pageColNumber": "12",
    "sidebarColNumber": sidebarCols if sidebarCols else 12,
    "mainClasses": "ons-u-mt-m",
    "breadcrumbs": breadcrumbs,
    "navigation": navigation.navigation,
    "footer": {
      "OGLLink": true,
      "legal": [
        {
          "itemsList": [
            {
              "text": 'Cookies',
              "url": url_for('cookies_page')
            },
            {
              "text": 'Accessibility Statement',
              "url": url_for('accessibility_page')
            },
            {
              "text": 'Privacy and Data Protection',
              "url": url_for('privacy_and_data_protection')
            }
          ]
        }
      ]
    },
  }
 %}

    {% block preHeader %}
        {% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
        {{
            onsCookiesBanner({
                'serviceName': 'statisticalmethodslibrary.ons.gov.uk'
            })
        }}
        {% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}

        {% set feedbackLink %}
          <a href="mailto:smlhelp@ons.gov.uk">give feedback</a>
        {% endset %}

        {{
            onsPhaseBanner({
                "html": "This is a new service. To help us improve it, " + feedbackLink
          })
        }}
    {% endblock %}

  {%- block main -%}
  {%- endblock main -%}