{%- extends "core.html" -%}
{%- set page_title = "Library glossary" -%}
{%- set current_path = url_for("resources") -%}

{%- block head -%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sml.css') }}" media="all" type="text/css">
{%- endblock head -%}

{%- block main -%}

    {%- from "components/button/_macro.njk" import onsButton -%}
    {{
        onsButton({
            "text": 'Back to top',
            "title": 'Go to top',
            "id": 'topBtn',
            "url": "#",
            "iconType": 'arrow-next',
            "variants": ['secondary']
        })
    }}

    <h1 class="ons-u-mt-no">Library glossary</h1>

    <p>Learn definitions of words, phrases, and abbreviations used within the Statistical Methods Library</p>

    <hr>

    {%- set nav_options = [] -%}
    {%- for letter in page.nav_options -%}
        {%- if nav_options.append({"text": letter, "url": '#' + letter }) -%} {%- endif -%}
    {%- endfor -%}

    {%- from "components/lists/_macro.njk" import onsList -%}
    {{
        onsList({
            "variants": ['bare', 'inline'],
            "itemsList": nav_options,
            "classes": "ons-u-mt-l"
        })
    }}

    <hr>

    {%- for letter in page.nav_options -%}
        <h2 class="ons-u-mt-l"><a name="{{ letter }}"></a>{{ letter }}</h2>

        {%- for term in page.glossary -%}
            {%- if term.letter == letter -%}
                <div class="ons-u-mb-l">
                    <h3><a name="{{ term.hash }}"></a>{{ term.term }}</h3>
                    {{ term.meaning | paras }}
                    {%- if term.related -%}
                        <p><strong>See also: </strong>
                        {% for related in term.related %}
                            <a href="#{{ related  | convert_name }}">{{ related }}</a>{{ ", " if not loop.last else "" }}
                        {%- endfor -%}
                        </p>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}

        <hr>
    {%- endfor -%}

{% endblock main -%}

{%- block scripts -%}
    <script type=text/javascript src="{{ url_for('static',filename='js/sml.js') }}"></script>
{%- endblock scripts -%}
