{%- extends "core.html" -%}
{%- set page_title = "Library glossary" -%}
{%- set current_path = url_for("display_glossary") -%}

{%- block head -%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sml.css') }}" media="all" type="text/css">
{%- endblock head -%}

{%- block main -%}

    <h1 class="ons-u-mt-no">Library glossary</h1>

    <p id="page-subtitle">Definitions of words, phrases, and abbreviations used within the Statistical Methods Library</p>

    <hr>

    {%- set nav_options = [] -%}
    {%- for letter in page.nav_options -%}
        {%- if nav_options.append({"text": letter, "url": '#' + letter }) -%} {%- endif -%}
    {%- endfor -%}

    {%- from "components/lists/_macro.njk" import onsList -%}
    {{
        onsList({
            "variants": ['bare', 'inline'],
            "itemsList": nav_options,
            "classes": "ons-u-mt-l"
        })
    }}

    <hr>

    {%- for letter in page.nav_options -%}
        <h2 class="ons-u-mt-l"><a name="{{ letter }}"></a>{{ letter }}</h2>

        {%- for term in page.glossary -%}
            {%- if term.letter == letter -%}
                <div class="ons-u-mb-l">
                    <h3><a name="{{ term.hash }}"></a>{{ term.term }}</h3>
                    {{ term.meaning | paras }}
                    {%- if term.external_links -%}
                        <p><strong>Further information: </strong>
                        {%- for link in term.external_links -%}
                            {%- from "components/external-link/_macro.njk" import onsExternalLink -%}
                            {{
                              onsExternalLink({
                                "url": link['link'],
                                "linkText": link['text']
                              })
                            }}
                            {{ ", " if not loop.last else "" }}
                        {%- endfor -%}
                        </p>
                    {%- endif -%}
                    {%- if term.related -%}
                        <p><strong>See also: </strong>
                        {% for related in term.related %}
                            <a href="#{{ related  | convert_name }}">{{ related }}</a>{{ ", " if not loop.last else "" }}
                        {%- endfor -%}
                        </p>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}

        <hr>
    {%- endfor -%}

    {%- from "components/button/_macro.njk" import onsButton -%}
    {{
        onsButton({
            "text": 'Back to top',
            "title": 'Go to top',
            "id": 'topBtn',
            "url": "#",
            "iconType": 'arrow-next',
            "variants": ['secondary']
        })
    }}

{% endblock main -%}

{%- block scripts -%}
    <script type=text/javascript src="{{ url_for('static',filename='js/glossary.js') }}"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WK76MC47');
    </script>
    <!-- End Google Tag Manager -->
{%- endblock scripts -%}
