{%- extends "core.html" -%}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/lists/_macro.njk" import onsList %}

{% import "related-content-macro.html" as macros %}

{% set mainCols=8 %}
{% set asideCol =  {
    "position": "after",
    "colClasses": "ons-u-mt-l ons-u-mb-l"
  }
%}
{% set instrut = [('Accessing "public" method specification and code', [{'text': 'Fully public method code and specifications can be acccessed via a public GitHubRepo'}, {'text': 'SML team to make content and developer to add here...'}, {'text': 'For any reviews of the content added ( or to be pasted here in UI ...)'}]), ('Accessing "internal" method specification and code', [{'text': 'Instruction content here that provides hot to acccess an author-restricted method...)'}, {'text': 'SML team to make content and developer to add here...'}, {'text': 'For any reviews of the content added ( or to be pasted here in UI ...)'}])]%}

{%- set page_title = "Help centre" -%}
{%- set current_path = url_for("help_centre") -%}

{%- block main -%}
<div class="ons-grid__col ons-col-11@m">
<h3>{{data.overview_text}}</h3>
{%for guidance in data.guidances_content %}

    {% if guidance[0] %}
    <p><strong>{{guidance[0]}}</strong></p>
    {% endif %}
    {{
        onsList({
            "itemsList": guidance[1]
        })
    }}

{% endfor %}

</div>
{%- endblock main-%}
{% block aside %}
    {{
    onsLabel({
        "id": "label",
        "for": "section-menu",
        "classes" : "ons-related-content",
        "text": "Other 'how to' list categories"
    })
    }}
    {{
        onsSectionNavigation({
            "variants": "vertical",
            "id": "help-centre-section",
            "currentPath": data.current_path,
            "itemsList": data.categories
        })
    }}

    {{macros.sml_portal_related_content()}}

</div>
{% endblock %}
