{%- extends "core.html" -%}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/label/_macro.njk" import onsLabel %}

{% import "related-content-macro.html" as macros %}

{%- set page_title = "Help centre" -%}
{%- set current_path = url_for("help_centre") -%}
{% set mainCols = 8%}
{% set asideCol =  {
    "position": "after",
    "colClasses": "ons-u-mt-l ons-u-mb-l"
  }
%}

{%- block main -%}
    <h1>'How to' and guidance categories</h1>
    {% for category in help_categories %}
        {{ onsCard({
        "id": category.name,
        "title": category.name,
        "itemsList": category.subcategories
            }) 
        }}
    {% endfor%}
    {{
        onsSectionNavigation({
            "variants": "vertical",
            "id": "help-centre-section",
            "itemsList": lala
        })
    }}
{%- endblock main-%}

{% block aside %}   

    {{macros.sml_portal_related_content()}}

{% endblock %}
