{%- extends "sidebar.html" -%}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/list/_macro.njk" import onsList %}
{%- set breadcrumbs = {
  "id":"breadcrumbs",
  "ariaLabel":"breadcrumbs",
  "itemsList":[
    {
      "url": url_for("help_centre"),
      "id": "back",
      "text": 'Back',
    }
  ]
} -%}

{% import "related-content-macro.html" as macros %}

{% set sidebarCols = 7 %}
{%- set page_title = "Help centre - "~sub_category_label -%}
{%- set current_path = url_for("help_centre") -%}
{%- block mainContent -%}
  <h1>Help centre - {{sub_category_label}}</h1>
    <h2>{{category_label}}</h2>
    {%if sub_category == "expert-groups" %}
      <p> Please visit
        {% from "components/external-link/_macro.njk" import onsExternalLink %}
        {{
          onsExternalLink({
            "url": 'https://analysisfunction.civilservice.gov.uk/government-statistical-service-and-statistician-group/gss-support/methodology/information-on-specific-methods/',
            "linkText": 'Expert groups' 
          })
        }}
      </p>
    {% elif sub_category in ("report-bug","provide-feedback","support") %}
      <p> Please email
        {% from "components/external-link/_macro.njk" import onsExternalLink %}
        {{
            onsExternalLink({
              "url": 'mailto:smlhelp@ons.gov.uk',
              "linkText": 'smlhelp@ons.gov.uk' 
            })
        }}
      </p>
    {% elif body %}
      {{body}}
    {% endif %}
{%- endblock mainContent-%}
{%- block sidebar -%}
<div class="ons-grid__col ons-col-5@m ons-u-mt-l ons-u-mb-l ons-related-content ons-push-1@m">
{% block sidebarContent %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{{
    onsSectionNavigation({
        "variants": "vertical",
        "id": "section-menu",
        "currentPath": url_for("guidances", category=category),
        "sections": nav,
        "headingLevel": 3
    })
}}
{{macros.sml_portal_related_content()}}
{% endblock sidebarContent %}
</div>
{%- endblock sidebar -%}