{%- extends "sidebar.html" -%}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/details/_macro.njk" import onsDetails %}
{%- set sidebarCols = 7 -%}
{%- set breadcrumbs = {
  "id":"breadcrumbs",
  "ariaLabel":"breadcrumbs",
  "itemsList":[
    {
      "url": url_for("help_centre"),
      "id": "back",
      "text": 'Back',
    }
  ]
} -%}

{% import "related-content-macro.html" as macros %}
{%- set page_title = "Help centre - "~sub_category_label -%}
{%- set current_path = url_for("help_centre") -%}
{%- block mainContent -%}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK76MC47"
            height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

              <h1>Help centre - {{sub_category_label}}</h1>
                <h2>{{category_label}}</h2>

            {% call onsDetails({
                  "id": "collapsibleONSInternalUserId",
                  "title": "I am an ONS internal user"
            }) %}
                <p>Method requests can be raised to:</p>
                    {{
                        onsList({
                            "variants": 'bullet',
                            "itemsList": [
                                {
                                    "text": 'Have new methods developed for the Statistical Methods Library.'
                                },
                                {
                                    "text": 'Add existing code to the Statistical Methods Library.'
                                },
                                {
                                    "text": 'Change existing methods held within the Statistical Methods Library.'
                                }
                            ]
                        })
                    }}
                <p>Method requests can be submitted to the ONS Statistical Methods Library via the IBM Business Automation Workflow (BAW). The BAW is used across the ONS for a variety of purposes, so you may have access to this tool already.</p>
                <p>If you do not have access to the IBM Business Automation Workflow (BAW): </p>
                    <ol class="ons-list">
                                <li class="ons-list__item">You can gain access to the BAW via ServiceNow in “I Want Something > 04 – Software, Applications & Platforms > Automation Requests”.</li>
                                <li class="ons-list__item">Fill in the fields as follows:
                                <ol class="ons-list">
                                    <li class="ons-list__item">Please choose an activity: “Access – add, change or remove”</li>
            <li class="ons-list__item">Please select Access Type: “New Access”</li>
            <li class="ons-list__item">Please select the Service: “BAW”</li>
                                <li class="ons-list__item">Select the Solution this request relates to: “STATISTICAL METHODS LIBRARY”</li>
            <li class="ons-list__item">Who is this request for: enter your name and the name of each other user you are requesting access for</li>
                                </ol>
                                </li>
                                    <li class="ons-list__item">Click on the BAW spreadsheet link.</li>
        <li class="ons-list__item">Enter your details and the details of each user you are requesting access form</li>
        <li class="ons-list__item">Under “Environment(s) required”, enter ‘a’ under Production. Leave each other column blank</li>
                                <li class="ons-list__item">Under ‘Application Group Names’ add ‘SML_REQUESTORS_PROD’ in place of ‘DAO Requestor’ and put ‘a’ in this column</li>
                                    <li class="ons-list__item">Save and attach this spreadsheet to the ServiceNow request and submit your request (filling out other mandatory fields as appropriate)</li>
                                </ol>
                <p>If you already have access to the BAW, and want access to the SML forms, the same instructions above apply. </p>

                <p>Once you have been granted access to the SML forms on the BAW, login to the BAW here:
                    {% from "components/external-link/_macro.njk" import onsExternalLink %}
                        {{
                            onsExternalLink({
                            "url": 'https://www.bpm.ibmcloud.com/auth/index.jsp',
                            "linkText": 'Log in to IBM Business Automation Workflow (BAW)'
                            })
                        }}
                </p>
                <p>Click on “Process Portal”. In the left-hand menu you will see “Create SML Method Request” - if you cannot see a menu on the left-hand side of the screen, click the three horizontal lines at the top left corner of the screen.</p>
                <p>Click on "Create SML Method Request”, and fill out the information in this form to create the desired request.</p>
                <p>
                    Once you have filled out the form, you will need to complete a method specification. Please use the following
                    <a href="https://officenationalstatistics.sharepoint.com/sites/MTHIT/SysDev/Forms/AllItems.aspx?id=%2Fsites%2FMTHIT%2FSysDev%2FStatistical%5FMethods%5FLibrary%2FCommunication%2FSML%20methodological%20specification%20template%2Emd&parent=%2Fsites%2FMTHIT%2FSysDev%2FStatistical%5FMethods%5FLibrary%2FCommunication&p=true&ga=1">
                        method specification template
                    </a>
                     to help you do this.
                </p>
            {% endcall %}

            {% call onsDetails({
                  "id": "collapsibleONSExternalUserId",
                  "title": "I am a user from outside the ONS"
            }) %}
                <p>Currently we do not accept formal method submissions or change requests from external users. In future, we will accept certain method requests via the
                    {% from "components/external-link/_macro.njk" import onsExternalLink %}
                            {{
                                onsExternalLink({
                                "url": 'https://integrateddataservice.gov.uk/',
                                "linkText": 'Integrated Data Service'
                                })
                            }}. 
                </p>
                <p>If you would like to make a suggestion
                    for a new method, or to provide feedback about an existing method, please do so by emailing
                    {% from "components/external-link/_macro.njk" import onsExternalLink %}
                            {{
                                onsExternalLink({
                                "url": 'mailto:smlhelp@ons.gov.uk',
                                "linkText": 'smlhelp@ons.gov.uk'
                                })
                            }}.
                </p>

            {% endcall %}
{%- endblock mainContent-%}
{%- block sidebar -%}
<div class="ons-grid__col ons-col-5@m ons-u-mt-l ons-u-mb-l ons-related-content ons-push-1@m">
{%- block sidebarContent -%}
    <h2 class="ons-related-content__title ons-u-fs-r--b ons-u-mb-xs">Other 'how to' list categories</h2>
        {% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
        {{
            onsSectionNavigation({
                "variants": "vertical",
                "id": "section-menu",
                "currentPath": url_for("guidances", category=category),
                "itemsList": nav
            })
        }}
        {{macros.sml_portal_related_content()}}
{%- endblock sidebarContent -%}
</div>
{%- endblock sidebar -%}