{% extends "core.html" %}
{%- set current_path = url_for("index") -%}
{% from "patches/hero/_macro.njk" import onsHero %}
{% set mainCols=12 %}

{% set containerClasses = "ons-container--full-width" %}
{% block header %}
{{
    onsHeader({
        "title": pageConfig.header.title | default(pageConfig.title),
        "classes": pageConfig.header.classes,
        "variants": pageConfig.header.variants,
        "wide": pageConfig.wide,
        "language": pageConfig.language,
        "button": pageConfig.signoutButton,
        "toggleNavigationButton": pageConfig.toggleNavigationButton,
        "navigation": pageConfig.navigation,
        "browserBanner": pageConfig.browserBanner,
        "phase": pageConfig.phase,
        "assetsURL": assetsURL,
        "serviceLinks": pageConfig.serviceLinks,
        "noMasthead": pageConfig.header.noMasthead,
        "orgLogo": pageConfig.header.orgLogo,
        "orgMobileLogo": pageConfig.header.orgMobileLogo,
        "orgLogoAlt": pageConfig.header.orgLogoAlt,
        "orgLogoHref": pageConfig.header.orgLogoHref,
        "titleLogo": pageConfig.header.titleLogo,
        "titleLogoClasses": pageConfig.header.titleLogoClasses,
        "titleLogoMobile": pageConfig.header.titleLogoMobile,
        "titleLogoMobileClasses": pageConfig.header.titleLogoMobileClasses,
        "titleLogoAlt": pageConfig.header.titleLogoAlt,
        "titleLogoHref": pageConfig.header.titleLogoHref,
        "customHeaderLogo": pageConfig.header.customHeaderLogo
    })
}}
{{
    onsHero({
        "title": 'Discover Methods used by the Office for National Statistics',
        "button": {
            "url": url_for("display_methods"),
            "text": 'Find methods'
        },
        wide:true
    })
}}
{% endblock %}
{% block preMain %}

{% endblock%}

{%- block main %}
{% from "components/card/_macro.njk" import onsCard %}
<div class="ons-container">
    
    <div class="ons-grid ons-grid--column">
       
        <div class="ons-grid__col ons-col-4@m">
            {{ onsCard({
                "id": 'title1',
                "textId": 'text1',
                "title": 'Methods catalogue',
                "url": url_for("display_methods"),
                "text": 'A catalogue to search public and private methods'
            }) }}
        </div>

        <div class="ons-grid__col ons-col-4@m">
            {{ onsCard({
                "id": 'title2',
                "textId": 'text2',
                "title": 'Help centre',
                "url": url_for('help'),
                "text": 'Each category link opens sub-categories'
            }) }}
        </div>

        <div class="ons-grid__col ons-col-4@m">
            {{ onsCard({
                "id": 'title3',
                "textId": 'text3',
                "title": 'Useful resources',
                "url": url_for("resources"),
                "text": 'More library features'
            }) }}
        </div>

    </div>
    
</div>

{% endblock main%}


