{%- extends "core.html" -%}
{%- set page_title = "All methods" -%}
{%- set current_path = url_for("display_methods") -%}
{%- block main -%}
 
<h1 class="ons-u-mt-no">All methods</h1>
<p>Here you will discover statistical methods used by the Office for National Statistics.</p>

{% from "components/panel/_macro.njk" import onsPanel %}

{% call onsPanel({}) %}
  <p>Codes and specification permission</p>
  <ul>
    <li>Public methods can be accessed freely by everyone</li>
    <li>Internal methods’ access can be requested by ONS employees via their ONS Digital GitHub account</li>
    <li>Private methods can only be accessed upon request based on proposed usage</li>
  </ul>
{% endcall %}

<h2 class="ons-u-mt-m">Catalogue table of methods:</h2>

{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% call onsCollapsible({
      "id": "collapsible",
      "title": "What are method themes and expert groups?"
}) %}
<p>Method are sorted in hierarchical order with expert groups as the top level.
  For example, within an expert group are different themes, and within the themes
  are different methods.</p>

  <p>To find out more about expert groups and themes,
    please visit the <a href=" {{ url_for('display_glossary') }} ">library glossary</a>.</p>
{% endcall %}
{% from "components/table/_macro.njk" import onsTable %}
{% set methodsTable = {
  "variants": 'sortable',
  "tableClasses": "ons-u-mt-m",
  "sortBy": "Sort by",
  "ariaAsc": "ascending",
  "ariaDesc": "descending",
  "ths": [
    {
      "value": "Name"
    },
    {
      "value": "Theme"
    },
    {
      "value": "Expert group"
    },
    {
      "value": "Languages"
    },
    {
      "value": "Access"
    },
    {
      "value": "Status"
    },
  ]
} %}
{% set methodsTableRows = [] %}
{% for row in page.rows %}
  {% do methodsTableRows.append({
    "tds": [
      {
          "value": '<a href="' + url_for("display_method", method=row.id) + '">' + row.title + '</a>'
      },
      {"value": row.theme},
      {"value": row.exp_group},
      {"value": row.language},
      {"value": row.access},
      {"value": '<span class="ons-status ons-status--' + status_class.get(row.status, "info") + '">' + row.status + '</span>'},
    ]
  }) %}
{% endfor %}
{% do methodsTable.update({"trs": methodsTableRows}) %}
{{
  onsTable(methodsTable)
}}

{% endblock main -%}
