{%- extends "core.html" -%}
{%- set page_title = "Methods catalogue" -%}
{%- set current_path = url_for("display_methods") -%}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/status/_macro.njk" import onsStatus %}

{%- block main -%}

<h1 class="ons-u-mt-no">{{ content.heading1 | markdown }}</h1>
{{ content.paragraph | markdown }}
{% from "components/details/_macro.njk" import onsDetails %}
{{ 
  onsDetails({
      "id": "collapsible",
      "title": content["detail"],
      "content":content["detail_content"]
    })
}}

</br> 
<h2>{{
  onsStatus({
      "label": 'Methods Ready to Use',
      "type": 'success'
  })
}}</h2>
<p>The following methods are released and ready to use.</p>

{% set methodsTable = {
  "id": "ready-table",
  "variants": ["sortable","responsive"],
  "tableClasses": "ons-u-mt-m",
  "sortBy": "Sort by",
  "ariaAsc": "ascending",
  "ariaDesc": "descending",
  "ths": [
    {
      "value": "Name"
    },
    {
      "value": "Theme"
    },
    {
      "value": "Expert group"
    },
    {
      "value": "Languages"
    },
  ]
} %}

{% set methodsTableRows = [] %}
{% set futureMethodsTableRows = [] %}

{% for method in methods %}
  {% if method.method_ready %}
    {% do methodsTableRows.append({
      "tds": [
        {
            "value": '<a href="' + url_for("display_method", method=method.id, methodState="ready-methods") + '">' + method.name + '</a>'
        },
        {"value": method.theme},
        {"value": method.expert_group},
        {"value": method.language},
      ]
    }) %}    
  {% else %}
    {% do futureMethodsTableRows.append({
      "tds": [
        {
            "value": '<a href="' + url_for("display_method", method=method.id, methodState="future-methods") + '">' + method.name + '</a>'
        },
        {"value": method.theme},
        {"value": method.expert_group},
        {"value": method.language},
      ]
    }) %}
  {% endif %}
{% endfor %}

{% do methodsTable.update({"trs": methodsTableRows}) %}
{{
  onsTable(methodsTable)
}}

<h2>{{
  onsStatus({
      "label": 'Future Methods',
      "type": 'pending'
  })
}}</h2>
<p>The following methods have been approved for development and will be included in future releases.</p>

{% set futureMethodsTable = {
  "id": "future-table",
  "variants": ["sortable","responsive"],
  "tableClasses": "ons-u-mt-m",
  "sortBy": "Sort by",
  "ariaAsc": "ascending",
  "ariaDesc": "descending",
  "ths": [
    {
      "value": "Name."
    },
    {
      "value": "Theme."
    },
    {
      "value": "Expert group."
    },
    {
      "value": "Languages."
    },
  ]
} %}

{% do futureMethodsTable.update({"trs": futureMethodsTableRows}) %}
{{
  onsTable(futureMethodsTable)
}}
<p>These methods can be developed and extended after a formal release. ‘Code under development’ is tested and checked before it is made into a formal release. Usage of code prior to a formal release is at the user's own risk.</p>
<p>The Statistical Methods Library will grow as more statistical methods are requested.</p>

{% endblock main -%}

{%- block scripts -%}
    <script type=text/javascript src="{{ url_for('static',filename='js/methods_catalogue.js') }}"></script>
{%- endblock scripts -%}