{%- extends "core.html" -%}
{%- set page_title = page.title -%}
{%- set breadcrumbs = {
  "id":"breadcrumbs",
  "ariaLabel":"breadcrumbs",
  "itemsList":[
    {
      "url": url_for("display_methods"),
      "id": "back",
      "text": 'Back',
    }
  ]
} -%}
{%- block main -%}
 
<h2 class="ons-u-mt-no">Method: {{ page.title }}</h2>
<h3> Method summary </h3>
{{ page.description | paras }}

<h3> Contact details for this method </h3>
{{ page.contact_details }}

{% from "components/metadata/_macro.njk" import onsMetadata %}
{% set items = [] %}
{% for item in page.method_metadata %}
{% do
  items.append(
    {
        "term": item,
        "descriptions": [
            {
                "description": page.method_metadata[item]
            }
        ]
    }
  )
%}
{% endfor %}
<hr class="ons-u-mb-m">
{{
  onsMetadata({
      "classes": "ons-u-mb-no ",
      "metadataLabel": "Method information",
      "termCol": "3",
      "descriptionCol": "9",
      "itemsList": items
  })
}}
<hr class="ons-u-mb-m">

<h3>GitHub resources</h3>
{% if page.code_link %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{{
  onsExternalLink({
    "url":page.code_link,
    "linkText":"Go to code"
  })
}}
&nbsp;
{% endif %}
{% if page.specification_link %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{{
  onsExternalLink({
    "url":page.code_link,
    "linkText":"Go to specification"
  })
}}
{% endif %}

{% endblock main -%}
