{%- extends "core.html" -%}

{% if cms_enabled %}
  {%- set page_title = method.name -%}
{% else %}
  {%- set page_title = page.title -%}
{% endif %}
{%- set current_path = url_for("display_methods") -%}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{%- set breadcrumbs = {
  "id":"breadcrumbs",
  "ariaLabel":"breadcrumbs",
  "itemsList":[
    {
      "url": url_for("display_methods"),
      "id": "back",
      "text": 'Back',
    }
  ]
} -%}
{% from "components/status/_macro.njk" import onsStatus %}
{% from "cms/method_macro.html" import cms_method_macro %}

{%- block main -%}

{% if cms_enabled %}
  {{ cms_method_macro(method) }}
{% else %}

    <h1 id="page-title" class="ons-u-mt-no">Method: {{ page.title }}</h1>
    <h2> Method summary </h2>
    {{ page.description | paras }}

    <h2> Contact details for this method </h2>
    {% if page.contact_details %}
      {{
          onsExternalLink({
            "url": 'mailto:' ~ page.contact_details ,
            "linkText": page.contact_details  
          })
      }}
    {% endif %}

    {% from "components/metadata/_macro.njk" import onsMetadata %}
    {% set items = [] %}
    {% set status =  page.additional_data["Release Status"] %}
    {% for item in page.method_metadata %}
    {% set description = page.method_metadata[item] %}

    {% do
      items.append(
        {
            "term": item,
            "descriptions": [
                {
                    "description": description or "<em>n/a</em>"
                }
            ]
        }
      )
    %}
    {% endfor %}

    {% for item in items %}
    {% if item["term"]  == "Release" %}
        {% set temp=item["descriptions"][0]["description"] %}

    {% if temp=="Not Released Yet" %}
        {% set item=item["descriptions"][0].__setitem__("description", '<span class="ons-status ons-status--' + status + '">' + temp + '</span>') %}

    {% else %}
        {% set link = page.additional_data["Release Link"] %}
        {% set item=item["descriptions"][0].__setitem__("description", 
        '<span class="ons-status ons-status--' + status + '">
          <a href='+ link + ' target="_blank" rel="noopener noreferrer">
            <span class="ons-u-vh">Release version</span>
            ' + temp + '
            <span class="ons-u-vh">(opens in a new tab)</span>
          </a>
        </span>') %}

    {% endif %}
    {% endif %}
    {% endfor %}
    <hr class="ons-u-mb-m">
    {{
      onsMetadata({
          "classes": "ons-u-mb-no ",
          "metadataLabel": "Method information",
          "termCol": "3",
          "descriptionCol": "9",
          "itemsList": items
      })
    }}
  <hr class="ons-u-mb-m">


  <h2>GitHub resources</h2>
  {{ page.additional_info | paras }}
  {% if page.specification_link %}
  {{
    onsExternalLink({
      "url":page.specification_link,
      "linkText":"Go to " ~ page.title ~ " specification on GitHub"
    })
  }}
  <br>
  {% endif %}
  {% if page.code_link %}
  {{
    onsExternalLink({
      "url":page.code_link,
      "linkText":"Go to " ~ page.title ~ " code on GitHub"
    })
  }}
  <br>
  {% endif %}
  {% if page.user_documentation_link %}
  {{
    onsExternalLink({
      "url":page.user_documentation_link,
      "linkText":"Go to "~ page.title ~" user documentation on GitHub"
    })
  }}
  {% endif %}
  <br>
  {% if docs_integration_active == True %}
      {% if page.api_reference %}
          {%- set api_url = url_for(".api_guidances", category="api-reference", subcategory="totals-and-components") -%}
          <a href={{ api_url }}> {{ "Go to "~ page.title ~" Api Reference "}}</a>
      {% endif %}
  {% endif %}
{% endif %}
{%- endblock main -%}