{% extends "core.html" %}
<!-- Step to add Google tags -->
{% block head %}
  <!-- Google Tag Manager -->
  <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WK76MC47');
  </script>
  <!-- End Google Tag Manager -->
{% endblock %}
{% block main %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK76MC47"
        height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="ons-container">
        <div class="ons-grid ons-grid--column">
            <div class="ons-grid__col ons-col-{{ pageConfig.sidebarColNumber }}@m">
                {% block mainContent %}
                {% endblock mainContent %}
            </div>
            {% block sidebar %}
                <div class="ons-grid__col ons-col-{{ 12 - pageConfig.sidebarColNumber }}@m ons-u-mt-l ons-u-mb-l ons-push-1@m">
                    {% block sidebarContent %}
                    {% endblock sidebarContent %}
                </div>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock main %}

