{%- extends "core.html" -%}
{%- set page_title = "Privacy and Data Protection" -%}
{%- set mainCols=8 -%}

{%- set breadcrumbs = {
"id":"breadcrumbs",
"ariaLabel":"breadcrumbs",
"itemsList":[
  {
    "url": url_for("index"),
    "id": "home",
    "text": 'Home',
  }
]
} -%}


{%- from "components/list/_macro.njk" import onsList -%}
{%- block main -%}
{{ content.privacy_content_1 | markdown }}
{{
    onsList({
        "itemsList": content.bullet_list
    })
}}
{{ content.privacy_content_2 | markdown }}
{% endblock main -%}