name: deploy
on:
  pull_request:
    types: [opened, closed, reopened, synchronize]
    branches:
      - main
permissions:
  id-token: write
  contents: read    # This is required for actions/checkout
  pull-requests: write
jobs:
  run-terraform:
    runs-on: ubuntu-latest
    container: onsdigital/spp-terraform:1
    concurrency: ${{github.workflow}}-{{ github.head_ref }}-deploy
    outputs:
      cloudfront_id: ${{ steps.apply.outputs.cloudfront_id }}
    steps:
      - run: echo ${{github.event_name}}
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - name: Configure AWS credentials from Dev account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::115311790871:role/sml-deploy
          aws-region: eu-west-2
      - name: terraform format
        run: terraform fmt -check -recursive -diff
      - id: apply
        name: Apply terraform
        run: |
          cd terraform
          terraform init
          echo ${{github.event.pull_request.merged}}
          if ${{github.event.pull_request.merged}}
          then
            export TF_WORKSPACE="main"
          else
            export TF_WORKSPACE=${{ github.head_ref }}
          fi
          echo $TF_WORKSPACE
          terraform apply -auto-approve
          echo "DEPLOY_URL=`terraform output -raw website_url`" >> $GITHUB_ENV
          echo "::set-output name=cloudfront_id::`terraform output -raw cloudfront_id`"
      - name: Add deploy URL to PR comment
        uses: mshick/add-pr-comment@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'github-actions[bot]'
          message: |
            Workspace URL: ${{env.DEPLOY_URL}}
          allow-repeats: false
  build-files:
    runs-on: ubuntu-latest
    concurrency: ${{github.workflow}}-{{ github.head_ref }}-build
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - name: Install pipenv
        run: pip install pipenv
      - name: Create venv
        run: python3 -m venv venv
      - name: Install dependencies
        run: |
          source venv/bin/activate
          pipenv sync --dev
      - name: Lint
        run: |
          source venv/bin/activate
          black --check --diff sml_builder
      - name: Freeze flask
        run: |
          source venv/bin/activate
          echo "Installing the ONS design system"
          ./get_design_system.sh
          echo "Freezing flask"
          python freeze.py
          zip -r build.zip build
      - name: Upload files
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build.zip
          retention-days: 2
  deploy:
    runs-on: ubuntu-latest
    needs: [run-terraform, build-files]
    concurrency: ${{github.workflow}}-{{ github.head_ref }}-deploy
    steps:
      - name: Configure AWS credentials from Dev account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::115311790871:role/sml-deploy
          aws-region: eu-west-2
      - name: Download built files
        uses: actions/download-artifact@v3
        with:
          name: build
          path: ./
      - name: Deploy built files
        run: |
          unzip build.zip
          if ${{github.event.pull_request.merged}}
          then
            $workspace_name = "main"
          else
            $workspace_name = ${{ github.head_ref }}
          fi
          aws s3 sync build s3://sml-portal-$workspace_name --delete --content-type "text/html" --exclude "*.css"
          aws s3 sync build s3://sml-portal-$workspace_name --delete --exclude "*" --include "*.css"
      - name: Clear cache
        run: aws cloudfront create-invalidation --distribution-id ${{needs.run-terraform.outputs.cloudfront_id}} --paths "/*" > /dev/null
  draft-release:
    if: ${{github.event_name == 'pull_request' && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    needs: build-files
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Download built files
        uses: actions/download-artifact@v3
        with:
          name: build
          path: ./
      - name: Create Draft Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: Tag-${{ github.event.pull_request.head.sha }} 
          release_name: Release <To fill> - ${{ github.event.pull_request.title }}
          draft: true
          prerelease: false
      - name: Upload release assets
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build.zip
          asset_name: build.zip
          asset_content_type: application/zip

